Flow2.py
[{"id":"bac09a2f.d4ffd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"69574802.eeceb8","type":"inject","z":"bac09a2f.d4ffd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["a2047fdf.c819b"]]},{"id":"a2047fdf.c819b","type":"function","z":"bac09a2f.d4ffd8","name":"payload","func":"msg.headers={\n    deviceKey: \"nJDgaKAaRrz8NoyX\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["620f44f9.881ccc"]]},{"id":"620f44f9.881ccc","type":"http request","z":"bac09a2f.d4ffd8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DVRnz8iD/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":160,"wires":[["4bc95d28.c0e494","6ff0ae0a.2c2b4"]]},{"id":"4bc95d28.c0e494","type":"http response","z":"bac09a2f.d4ffd8","name":"","statusCode":"","headers":{},"x":710,"y":160,"wires":[]},{"id":"6ff0ae0a.2c2b4","type":"debug","z":"bac09a2f.d4ffd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":200,"wires":[]}]
